<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <!--<tags-input ng-model="tags">-->
      <!--<auto-complete source="loadItems($query)"></auto-complete>-->
    <!--</tags-input>-->
    <form class="form-inline">
      <div class="form-group ">
        <input class="form-control" id="category" placeholder="Add category" required ng-model="category.title"></input>
      </div>
      <button class="btn btn-default" ng-click="addCategory()">Add Category</button>

    </form>

    <button class="btn btn-default" ng-click="calculateTotals()">Calculate Totals</button>
  </div>
  <div class="col-md-2">
    <span>{{category.title}}</span></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <br><br>
    <table class="table">
      <tr>
        <th>Categories</th>
        <th>Used</th>
        <th>&nbsp;</th>
      </tr>
      <tr ng-repeat="category in categories">
        <td>{{category.title}}</td>
        <td>{{category.used}}</td>
        <td>
          <span class="glyphicon  glyphicon-trash" ng-click="deleteCategory(category._id)"></span>
        </td>
      </tr>
    </table>
    <button class="btn btn-danger" type="button" ng-click="deleteCategories()">
      <span class="glyphicon glyphicon-trash"></span>
      &nbsp;Delete all categories
    </button>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-2"></div>
</div>
