<div class="container-fluid">

    <!-- input fields to add new entries -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Add new entry</button>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" collapse="isCollapsed">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <form name="addForm">
                <div class="form-group ">
                    <label>Expense/Income?</label>
                    <div class="radio">
                        <label>
                            <input type="radio" id="expense" value="expense" ng-model="formData.flow" checked="checked">
                            Expense
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" id="income" value="income" ng-model="formData.flow">
                            Income
                        </label>
                    </div>
                </div>
                <date-form></date-form>
                <amount-form></amount-form>
                <description-form></description-form>
                <categories-menu></categories-menu>
                <period-menu></period-menu>


            </form>

            <button type="submit" class="btn btn-bitbucket" ng-click="addEntry(1)">Add Another</button>
            <button type="submit" class="btn btn-bitbucket" ng-click="addEntry(0)">Add entry</button>
        </div>
        <div class="col-md-2"></div>
    </div>

    <br><br>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="newCategory" placeholder="Category..">
                </div>
                <button class="btn btn-default" ng-click="addCategory()">Add</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>



</div>
