<div class="container-fluid">

    <!-- input fields to add new entries -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <form name="addForm">
                <date-form></date-form>
                <amount-form></amount-form>
                <description-form></description-form>
                <categories-menu></categories-menu>
                <period-menu></period-menu>
            </form>

            <button type="submit" class="btn btn-bitbucket" ng-click="addEntry(1)">Add Another</button>
            <button type="submit" class="btn btn-bitbucket" ng-click="addEntry(0)">Add entry</button>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
