<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Edit columns</h4>
  </div>
  <div class="modal-body">
    <p>Which columns do you want to display
    </p>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="" ng-model="dateCheck">
        Date
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="" ng-model="descriptionCheck">
        Description
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="" ng-model="amountCheck">
        Amount
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="" ng-model="categoryCheck">
        Category
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="" ng-model="periodCheck">
        Period
      </label>
    </div>
    <div class="modal-footer">
      <br>
      <button type="button" class="btn btn-default" ng-click="ok()">Ok</button>
    </div>
  </div>
</div>
